./WindowsFormsApplication1/WindowsFormsApplication1/bin/*
./WindowsFormsApplication1/WindowsFormsApplication1/obj/*
./WindowsFormsApplication1/UnitTestProject1/bin/*
./WindowsFormsApplication1/UnitTestProject1/obj/*
*.cache
*.suo
.DS_Store
